.main-content .product-add{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-add form {
    margin-top: 2rem;
    border-radius: 1rem;
    /* background-color: brown; */
}
.product-add form input {
    border: 1px solid black;
    border-radius: 1rem;
    width: 25rem;
}
.product-add form button{
    background-color: goldenrod;
    border-radius: 20px;
    width: 10rem;
    transition: .8s ease-in;
}
.product-add form button:hover{
    background-color: rgb(29, 149, 15);
}
#file-input {
    opacity: 0; /* Hides the native input */
    position: absolute;
    z-index: -1;
}
input::placeholder {
    color: black; 
    opacity: 1; 

}

.file-input-wrapper {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    width: 25rem;
    margin-bottom: 1rem;
}

.file-input-wrapper:before {
    content: '📷 Choose an image';
    font-size: 16px;
    color: black;
}

.textarea-new textarea{
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    margin-bottom: .7rem;
    resize: none;
}
textarea::placeholder {
    font-size: 1rem;
    color: black; 
    opacity: 1; 

}

