button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #6183cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .h1 {
    padding-left: 30px;
    color: #45a049;
  }
  .newcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container {
    padding: 30px;
  }
  
  .app {
    font-family: Arial, sans-serif;
  }
  
  .stock-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
  }
  
  .stock-table th,
  .stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .stock-table th {
    background-color: #d5b5b5;
  }
  