.form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* General Styling */
.update-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    /* background-color: #f8f9fa; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.update-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.update-form__form {
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
}

.update-field {
    display: flex;
    flex-direction: column;
}

.update-label {
    font-size: 16px;
    margin-bottom: 0.5rem;
    color: #495057;
}

.update-input, .update-textarea, .update-file {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}

.update-input:focus, .update-textarea:focus {
    border-color: #007bff;
    outline: none;
}

.update-textarea {
    resize: none;
}

.update-field--textarea .update-textarea {
    height: auto;
    min-height: 100px;
}

.update-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: .4rem;
    width: 10rem;
}

.update-button:hover {
    background-color: #0056b3;
}

.current-image {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.image-preview {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid #ddd;
}
